
        body {
            background-color: #1a1a1a;
            color: #ccc;
            font-family: 'Caviar Dreams', sans-serif;
            text-align: center;
            font-size: 16px;
            line-height: 1.6;
        }
        .title {
            font-family: 'Henotica', sans-serif;
            color: #990000;
            font-size: 32px;
            line-height: 1.6;
        }
        .subtitle {
            font-family: 'Henotica', sans-serif;
            color: #cc0000;
            font-size: 26px;
            line-height: 1.6;
        }
        .testimonials {
            color: #ccc;
            font-family: 'Caviar Dreams', sans-serif;
            text-align: center;
            font-size: 16px;
            line-height: 1.6;
        }
        .about {
            position: relative;
            min-height: 80vh; 
            padding: 50px 10%; 
            margin: 20px 0; 
            overflow: hidden;
        }
        .slideshow-container {
            position: absolute;
            top: 0;
            left: -25%;
            width: 100%;
            height: 75%;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .slideshow {
            position: absolute;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        .slideshow img {
            position: absolute;
            width: 50vw;
            height: 100vh;
            object-fit: cover;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        .slideshow img.active {
            opacity: 1;
        }
        .slideshow::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.747); 
            z-index: 1;
            
        }
        header {
            position: relative; 
            padding: 20px;
            background: #44444429;
        }
.navbar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.nav-links {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
}

.nav-links li {
    display: inline; 
}

.nav-links a {
    text-decoration: none; 
    color: white; 
    font-size: 18px; 
    font-family: 'Caviar Dreams', sans-serif; 
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: #990000; 
}
        
        
        .logo-link {
            display: block;
            text-decoration: none; 
        }
        
        .logo {
            position: absolute; 
            top: 10px; 
            right: 10px; 
            width: 100px; 
            height: auto; 
            cursor: pointer; 
        }
            .logo-link:hover .logo {
                opacity: 0.7; 
                transform: scale(1.2); 
                transition: all 0.3s ease-in-out; 
            }
            footer {
                margin-top: 20px;
                padding: 20px;
                background: #44444429;
                position: relative;
                display: flex;
                flex-direction: column; 
                align-items: flex-start; 
                height: auto; 
            }
            
            .footer-links {
                display: flex;
                gap: 15px;
                margin-bottom: 10px; 
            }
            
            .footer-links a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
            
            .footer-links a:hover {
                text-decoration: underline;
            }
            
            .footer-time {
                position: absolute;
                left: 20px;
                bottom: 20px;
                color: #ccc;
                font-size: 14px;
                line-height: 1.6;
            }
            
            .copyright {
                text-align: center; 
                width: 100%; 
                margin-top: auto; 
                font-size: 14px;
                line-height: 1.5;
            }
        .develop {
            min-height: 40vh;
            padding: 50px 10%;
            margin: 20px 0;
        }
        .animated-section {
            opacity: 0;
            transform: translateY(20px);
            transition: all 1s ease-in-out;
        }
        .animated-section.visible {
            opacity: 1;
            transform: translateY(0);
        }